@import '../../node_modules/antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.InfoBar {
  width:40%
}

/* For demo */
.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.padding{
  padding-top: 30px;
}
.letters{
  font-family: "Microsoft YaHei UI";
  font-size: 18px;
  color: #222222;
  outline: 0;
}
.input{

}

.ant-radio-group{
}