@import '../../node_modules/antd/dist/antd.css';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.InfoBar {
  width:40%
}

.ant-carousel .slick-slide {
  text-align: center;
  height: 300px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.padding{
  padding-top: 30px;
}
.letters{
  font-family: "Microsoft YaHei UI";
  font-size: 18px;
  color: #222222;
  outline: 0;
}


.footer{
  width: 100%;
  background-color: #eefeff;
  text-align: center;
  margin-top: 100%;
}










.body{
  min-width: 1200px;

}
.tichname{
  font: 12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
}
.padding{
  padding-top: 30px;
}
.letters{
  font-family: "Microsoft YaHei UI";
  font-size: 18px;
  color: #222222;
  outline: 0;
}
.input{
  width: 450px;
}
.basicinfo{
  margin-left: 5px;
  margin-right: 5px;
  min-width: 1100px;
}
.postblock{
  width: 240px;
  text-align: center;
}
.post{
  width: auto;
  height: auto;
  max-width:100%;
  max-height:100%;
}
.postheader{
  font: 20px/2 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;
  padding-top: 20px;
  height: 60px;
  text-align: left;
}
.onsale{

}
.datepickletter,.timepickletter{
  font-size: 15px;
  text-align: center;
  padding-bottom: 0px;
}
.datepickblock{
  min-width: 400px;
  float:left;
  height: 80px;
  text-align: left;
}
.datepick{
  float: left;
  width: 550px;
  margin-left: 20px;
  padding-top: 40px;
}
.pricepickblock,.timepickblock,.totalpriceblock,.numpickblock{
  float: left;
  width: 550px;
  margin-left: 20px;
  text-align: left;
  padding-top: 25px;
}



.blank{
  height: 40px;
}
.tab {
  position: relative;
  top: 1px;
  font-size: 18px;
  height: 44px;
  line-height: 44px;
  padding: 0 4px;
  margin: 0 30px 0 0;
  float: left;
  color: #676a78;
  border-right: 0;
  border-bottom: 0;
  cursor: pointer;
}
.tabactive {
  border-bottom: 3px solid #ff513c;
  color: #333;
  background-color: #fff;
  cursor: default;
}
.affix{
  height: 70px;
}
.test{
  text-align: right;
}
.radiobuttonblock
{
  margin-left: 2px;
  float: left;
  height: 40px;
  line-height: 40px;
}
.radiobutton
{
  height: 35px;
  line-height: 35px;
  padding: 0 17px;
  margin-left: auto;
  margin-right: auto;
}