<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/jpw</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
      <mapping class="com.sjtu.jpw.Domain.Admin"/>
       <mapping class="com.sjtu.jpw.Domain.Collection"/>
      <mapping class="com.sjtu.jpw.Domain.Comment"/>
      <mapping class="com.sjtu.jpw.Domain.Coupon"/>
      <mapping class="com.sjtu.jpw.Domain.Orders"/>
      <mapping class="com.sjtu.jpw.Domain.Refund"/>
      <mapping class="com.sjtu.jpw.Domain.ShopCart"/>
      <mapping class="com.sjtu.jpw.Domain.Shows"/>
      <mapping class="com.sjtu.jpw.Domain.Ticket"/>
      <mapping class="com.sjtu.jpw.Domain.User"/>
      <mapping class="com.sjtu.jpw.Domain.UserCoupon"/>
      <mapping class="com.sjtu.jpw.Domain.Commentlikes"/>
      <mapping class="com.sjtu.jpw.Domain.Sendingaddr"/>
      <!-- <property name="connection.username"/> -->
    <!-- <property name="connection.password"/> -->

    <!-- DB schema will be updated if needed -->
    <!-- <property name="hbm2ddl.auto">update</property> -->
  </session-factory>
</hibernate-configuration>